#example1 {
		/* MUST be relative or absolute! */
		/* Plugin will automatically set if not. */
		/* See example 2 CSS */
	position: relative; 
	
		/* MUST be hidden! */
		/* Plugin will automatically set if not. */	
		/* See example 2 CSS */
	overflow: hidden;
	
	width: 360px;
	margin: 10px 24px;
	border: 1px solid black;
}


#example1 .revolve-content {
		/* MUST be relative or absolute! */
		/* Plugin will automatically set if not. */
		/* See example 2 CSS */
	position: absolute;
	z-index: 5;
}

#example1 .revolve-next, #example1 .revolve-prev {
	position: absolute;
	background-color: red;
	width: 25px;
	height: 100%;
	z-index: 10;
}

#example1 .revolve-next { right: 0; }