#example6 {
	width: 600px;
	
	margin: 10px 24px;
	border: 1px solid black;
}


#example6 .revolve-next, #example6 .revolve-prev {
	position: absolute;
	background-color: yellow;
	width: 25px;
	height: 100%;
	z-index: 10;
}

#example6 .revolve-next { right: 0; }

#updateExample6 {
	margin: 10px 60px;
}
